.page-header {
  background-color: #6b0f0f;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Urbanist";
}

.date {
  color: #3c5d79;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

a.top-menu,
a.top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

a.top-menu:hover {
  border-bottom: solid;
  border-color: white;
}

p.top-menu {
  color: #ffffff;
  float: right;
  font-size: 16pt;
  padding: 10pt 10pt 10pt 10pt;
}

a.logout-menu,
a.logout-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

a.logout-menu:hover {
  border-bottom: solid;
  border-color: white;
}

.post {
  margin-bottom: 70px;
  background-color: #ffffff;
  border-color: #6b0f0f;
  border-style: solid;
  border-width: 3px;
  border-radius: 10pt;
  border-style: solid;
  padding: 30px 30px 30px 30px;
}

.post h2 a,
.post h2 a:visited {
  color: #6b0f0f;
}

.post > .date,
.post > .actions {
  float: right;
}

button.btn-default,
button.btn-default:visited {
  color: #6b0f0f;
  background: none;
  border-color: #6b0f0f;
}

button.btn-default:hover {
  color: #ffffff;
  background-color: #6b0f0f;
}

a.btn-default:hover {
  border-color: #6b0f0f;
  border-style: solid;
}

body {
  background-color: #aeb6bc;
}

main.container {
  margin-bottom: 40px;
}

a.sign-in {
  color: #ffffff;
  float: right;
  font-size: 20px;
  margin-right: 20px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}
