<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Django</title>
</head>
<body>

    <header>
        <h1><a href="/">First Django</a></h1>
    </header>

    {% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %}

    <article>
        <time>published: 04.09.2021, 10:20</time>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sunt tempora quis recusandae laudantium quae enim assumenda sapiente illo necessitatibus, molestias vero impedit harum at voluptas in dolore non eos facere. Architecto pariatur tempore ipsa accusamus expedita? Vel consectetur perspiciatis autem ex quia omnis sed esse. Debitis totam qui natus.</p>
    </article>
</body>
</html>